.bebas{
    font-family: 'Bebas Neue', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.abhaya{
    font-family: 'Abhaya Libre', serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}